In [11]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from collections import Counter
from nltk.corpus import stopwords
stop_words=set(stopwords.words('english'))
lemm = WordNetLemmatizer()
import numpy as np
from collections import Counter
lines=100000
from nltk.corpus import stopwords
stop = set(stopwords.words('english'))

In [4]:
data = pd.read_excel(r"C:\Users\PIYUSH\Downloads\AG\training_set_rel3.xlsx",sheet_name="training_set")
data_val = pd.read_excel(r"C:\Users\PIYUSH\Downloads\AG\valid_set.xlsx",sheet_name="valid_set")

In [81]:
data.head()

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid
0,1788,1,"Dear @ORGANIZATION1, @CAPS1 more and more peop...",1788,NaN
1,1789,1,Dear @LOCATION1 Time @CAPS1 me tell you what I...,1789,NaN
2,1790,1,"Dear Local newspaper, Have you been spending a...",1790,NaN
3,1791,1,"Dear Readers, @CAPS1 you imagine how life woul...",1791,NaN
4,1792,1,"Dear newspaper, I strongly believe that comput...",1792,NaN

In [8]:
def word():
    lexicon=[]
    for i in data["essay"]:
        all_words=word_tokenize(i)
        #all_words=[i for i in all_words if i not in stop]
        all_words=[lemm.lemmatize(j.lower()) for j in all_words]
        lexicon.append(len(all_words))
        return lexicon

In [9]:
def vocab():
    lexicon=[]
    ls=[]
    for i in data["essay"]:
        all_words=word_tokenize(i)
        all_words=[i for i in all_words if i not in stop]
        all_words=[word.lower() for word in all_words if word.isalpha()]
        all_words=[lemm.lemmatize(j.lower()) for j in all_words]
        lexicon.append(all_words)
    for i in range(data.shape[0]):
        ls.append(len(set(lexicon[i])))
    return ls

In [89]:
def pos():
    lexicon=[]
    noun=0
    verb=0
    adj=0
    adv=0
    n_count=[]
    v_count=[]
    adj_count=[]
    adv_count=[]
    for i in data["essay"]:
        tokenized = sent_tokenize(i)
        for j in tokenized:
            all_words=word_tokenize(j)
            all_words=[k for k in all_words if k not in stop]
            tagged = nltk.pos_tag(all_words)
            for t in tagged:

                if (t[1][0])=='N':
                    noun+=1
                if (t[1][0])=='V':
                    verb+=1
                if (t[1][0])=='R':
                    adv+=1
                if (t[1][0])=='J':
                    adj+=1
        n_count.append(noun)
        v_count.append(verb)
        adj_count.append(adj)
        adv_count.append(adv)
        noun=0
        verb=0
        adv=0
        adj=0
    return  (n_count, v_count, adj_count, adv_count)

In [13]:
def sen_len():
    sent=[]
    for i in data["essay"]:
        tokenized = sent_tokenize(i)
        sent.append(len(tokenized))
    return sent

In [96]:
def bow():
    lexicon=[]
    dict1={}
    prev=1
    for i in range(1,9):
        dict1[i]=["student"]
    for i,j in enumerate(data["essay_set"]):
        tokenized=sent_tokenize(data["essay"].iloc[i])
        for k in tokenized:
            all_words=word_tokenize(k)
            all_words=[i for i in all_words if i not in stop]
            tagged = nltk.pos_tag(all_words)
            all_words=[i[0] for i in tagged if (i[1][0]=="N" or i[1][0]=="V"  or i[1][0]=="J")]
            all_words=[lemm.lemmatize(j.lower()) for j in all_words]
            dict1[j]+=all_words
    return dict1

In [98]:
dict=bow()
def poping(w_counts):
    w_counts.pop('@',None)
    w_counts.pop('CAPS1',None)
    w_counts.pop('CAPS2',None)
    w_counts.pop('CAPS3',None)
    w_counts.pop('CAPS4',None)
    w_counts.pop('CAPS5',None)
    w_counts.pop('NUM1',None)
    w_counts.pop('”',None)
    w_counts.pop('“',None)
    w_counts.pop('’',None)
    w_counts.pop('caps1',None)
    w_counts.pop('caps2',None)
    w_counts.pop('caps3',None)
    w_counts.pop('caps4',None)
    w_counts.pop('caps5',None)
    w_counts.pop('person1',None)

In [99]:
def freek(dict):
    res={}
    for l in range(1,9):
        w_counts = Counter(dict[l])
        poping(w_counts)
        ls=[]
        l2=[]
        l3=[]
        key=[]
        c=0
        for i in w_counts:
            l2.append(w_counts[i])
        l2.sort(reverse=True)
        l3=l2[0:10]
        for name, age in w_counts.items():    # for name, age in dictionary.iteritems():  (for Python 2.x)
            if age in l3:
                key.append(name)
        res[l]=key 
    return res

In [100]:
res=freek(dict)

In [87]:
data["vocab_count"]=count

In [88]:
data.head()

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid,word_count,vocab_count
0,1788,1,"Dear @ORGANIZATION1, @CAPS1 more and more peop...",1788,NaN,275,77
1,1789,1,Dear @LOCATION1 Time @CAPS1 me tell you what I...,1789,NaN,353,95
2,1790,1,"Dear Local newspaper, Have you been spending a...",1790,NaN,471,137
3,1791,1,"Dear Readers, @CAPS1 you imagine how life woul...",1791,NaN,410,103
4,1792,1,"Dear newspaper, I strongly believe that comput...",1792,NaN,496,132

## word_count and vocab_count extracted

In [90]:
(n_count, v_count, adj_count, adv_count)=pos()

In [91]:
data["n_count"]=n_count
data["v_count"]=v_count
data["adj_count"]=adj_count
data["adv_count"]=adv_count

In [92]:
data.head()

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid,word_count,vocab_count,n_count,v_count,adj_count,adv_count
0,1788,1,"Dear @ORGANIZATION1, @CAPS1 more and more peop...",1788,NaN,275,77,67,29,21,15
1,1789,1,Dear @LOCATION1 Time @CAPS1 me tell you what I...,1789,NaN,353,95,75,35,15,21
2,1790,1,"Dear Local newspaper, Have you been spending a...",1790,NaN,471,137,91,51,29,26
3,1791,1,"Dear Readers, @CAPS1 you imagine how life woul...",1791,NaN,410,103,103,49,21,17
4,1792,1,"Dear newspaper, I strongly believe that comput...",1792,NaN,496,132,122,39,38,22

### tagging done

In [94]:
data["sent_len"]=sent

In [95]:

data.head()

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid,word_count,vocab_count,n_count,v_count,adj_count,adv_count,sent_len
0,1788,1,"Dear @ORGANIZATION1, @CAPS1 more and more peop...",1788,NaN,275,77,67,29,21,15,13
1,1789,1,Dear @LOCATION1 Time @CAPS1 me tell you what I...,1789,NaN,353,95,75,35,15,21,20
2,1790,1,"Dear Local newspaper, Have you been spending a...",1790,NaN,471,137,91,51,29,26,15
3,1791,1,"Dear Readers, @CAPS1 you imagine how life woul...",1791,NaN,410,103,103,49,21,17,24
4,1792,1,"Dear newspaper, I strongly believe that comput...",1792,NaN,496,132,122,39,38,22,34

## Sent count done

In [14]:
def freek():
    b=1
    flag=1
    count=0
    ls=[]
    for i in range(data.shape[0]):
        count=0
        b=data["essay_set"].iloc[i]
        all_words=word_tokenize(data["essay"].iloc[i])
        all_words=[i for i in all_words if i not in stop]
        all_words=[word.lower() for word in all_words if word.isalpha()]
        all_words=[lemm.lemmatize(j.lower()) for j in all_words]
       # print(all_words)
        for word in all_words:
            if word in res[b]:
                count+=1
        ls.append(count)
        return ls

In [102]:
data["freek"]=ls

In [103]:
data

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid,word_count,vocab_count,n_count,v_count,adj_count,adv_count,sent_len,freek
0,1788,1,"Dear @ORGANIZATION1, @CAPS1 more and more peop...",1788,NaN,275,77,67,29,21,15,13,26
1,1789,1,Dear @LOCATION1 Time @CAPS1 me tell you what I...,1789,NaN,353,95,75,35,15,21,20,33
2,1790,1,"Dear Local newspaper, Have you been spending a...",1790,NaN,471,137,91,51,29,26,15,35
3,1791,1,"Dear Readers, @CAPS1 you imagine how life woul...",1791,NaN,410,103,103,49,21,17,24,31
4,1792,1,"Dear newspaper, I strongly believe that comput...",1792,NaN,496,132,122,39,38,22,34,47
5,1793,1,"Dear local newspaper, @CAPS1 the caveman found...",1793,NaN,542,133,117,58,25,26,35,37
6,1794,1,"Dear newspaper editor, @CAPS1 now is a letter ...",1794,NaN,516,126,97,55,41,20,33,45
7,1795,1,"Dear @ORGANIZATION1, @CAPS1, there has been so...",1795,NaN,641,177,178,61,44,25,39,35
8,1796,1,"Dear Local Newspaper, I would like to complain...",1796,NaN,324,92,82,31,19,14,18,32
9,1797,1,"Dear Newspaper, @CAPS1 having kids wasting the...",1797,NaN,674,139,183,66,46,28,39,38
10,1798,1,"Dear @CAPS1 @CAPS2, @CAPS3 should think that c...",1798,NaN,384,108,102,45,26,9,19,43
11,1799,1,"Dear Local @CAPS1, Computers, and other techno...",1799,NaN,494,127,118,50,37,22,26,25
12,1800,1,Why people should use computers? Computers are...,1800,NaN,319,74,59,32,22,12,7,33
13,1801,1,"@CAPS1, its time for supper! @CAPS2 on, mom I ...",1801,NaN,648,142,239,49,42,17,39,33
14,1802,1,Dear local newspaper: I am writing this letter...,1802,NaN,238,79,46,22,21,14,13,15
15,1803,1,"Effects of computers @CAPS1 local newspaper, H...",1803,NaN,507,116,111,51,30,18,27,27
16,1804,1,"Dear to whom it @MONTH1 concern, @CAPS1 is an ...",1804,NaN,320,97,73,31,15,19,19,20
17,1805,1,"Dear @ORGANIZATION1, Advances in technology ca...",1805,NaN,627,179,128,71,49,28,28,35
18,1806,1,"Dear newspaper @CAPS1, I am writing this lette...",1806,NaN,277,94,67,33,15,14,12,20
19,1807,1,"Dear Local newspaper, I do agree that to many ...",1807,NaN,363,95,75,42,20,17,20,41
20,1808,1,"Dear Local Newspaper, I heard about people's o...",1808,NaN,426,126,106,47,19,16,21,38
21,1809,1,"Dear @CAPS1, I believe that computers have an ...",1809,NaN,478,131,93,52,29,20,29,29
22,1810,1,Although some people believe computers aren't ...,1810,NaN,521,130,124,57,31,16,33,44
23,1811,1,Computors are looked at as either friend or fo...,1811,NaN,628,176,133,75,40,26,38,41
24,1812,1,"Dear local Newspaper, I am writing to you toda...",1812,NaN,520,151,119,40,31,25,31,31
25,1814,1,"Dear news paper, Computers are good for people...",1814,NaN,370,77,70,34,20,18,24,32
26,1815,1,"Dear @CAPS1 @CAPS2 Newspaper, Have you ever wa...",1815,NaN,205,61,57,26,9,7,6,24
27,1816,1,Dear Newspaper. I @CAPS2 that people are spend...,1816,NaN,435,124,100,57,28,19,22,26
28,1817,1,"Dear @ORGANIZATION1, Computers have bad effect...",1817,NaN,441,126,91,50,34,26,22,35
29,1818,1,"Dear @CAPS1, @CAPS2 name is @CAPS3 @CAPS4. I g...",1818,NaN,326,95,88,34,17,13,19,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4188,21902,8,Just @CAPS1 @CAPS2 @DATE1 is @LOCATION2's @CAP...,24902,NaN,898,236,178,112,60,49,61,27
4189,21903,8,Dad's @CAPS1 In the not so distant past I need...,24903,NaN,986,285,209,126,78,43,55,13
4190,21904,8,"It's that amazing feeling in your core, where...",24904,NaN,368,114,98,32,23,7,18,7
4191,21905,8,"@PERSON1 sits at a table, working on an art p...",24905,NaN,919,222,165,100,45,43,43,46
4192,21906,8,Have you ever been furious enough to cry ? ...,24906,NaN,925,223,166,120,44,40,46,48
4193,21908,8,Once when I was on my way over to my best fri...,24908,NaN,919,248,156,127,46,43,42,22
4194,21910,8,My mom and I have a unique relationship. She ...,24910,NaN,885,274,170,88,67,38,44,32
4195,21911,8,This test is a bunch of crap and its funny th...,24911,NaN,165,52,31,18,12,3,1,3
4196,21912,8,Working at the local glass factory is not nec...,24912,NaN,414,142,76,52,37,19,14,8
4197,21913,8,The @ORGANIZATION2 and I @CAPS1 to the @CAPS2 ...,24913,NaN,986,243,206,134,70,37,38,11
4198,21915,8,Over this last @DATE1 some friends and I were...,24915,NaN,299,101,59,39,20,11,11,8
4199,21916,8,Have you ever had a really bad day and noth...,24916,NaN,943,218,148,138,51,36,52,40
4200,21917,8,LaughterLaught...,24917,NaN,93,40,24,5,9,3,6,6
4201,21918,8,Laughter is a tool that every one knows how to...,24918,NaN,957,230,205,122,56,23,34,29
4202,21919,8,Laughter is a good part of life. It demonstra...,24919,NaN,1019,199,184,126,71,43,52,22
4203,21921,8,It all started off on a cold sunny @DATE1 @TIM...,24921,NaN,678,175,123,77,56,31,16,13
4204,21922,8,There have been many times in my life that I h...,24922,NaN,949,203,164,100,67,34,46,40
4205,21923,8,The sunset shimmers off of the sparkling wate...,24923,NaN,985,298,228,102,55,39,35,19
4206,21924,8,Laughter has played a significant role in my...,24924,NaN,961,283,171,111,60,48,56,17
4207,21925,8,"In the @DATE1 ,my best friend @PERSON1 and I ...",24925,NaN,643,150,125,84,34,25,14,25
4208,21926,8,My friends and I always have a great time to...,24926,NaN,529,147,92,71,32,23,23,18
4209,21927,8,"Everybody laughs in their life time, sometim...",24927,NaN,582,98,72,58,39,39,23,59
4210,21928,8,Laughter to me is important in any relationsh...,24928,NaN,674,144,105,72,41,37,32,41
4211,21929,8,I believe that laughter is a huge part of any...,24929,NaN,790,177,114,84,54,47,44,47
4212,21932,8,laughter is the best me...,24932,NaN,808,193,175,99,47,29,58,36
4213,21933,8,Have you ever noticed that if two little kids...,24933,NaN,641,146,81,77,40,39,38,36
4214,21934,8,Laughter @CAPS1 I ...,24934,NaN,812,190,124,92,47,38,48,25
4215,21935,8,Laughter in @CAPS1 A laugh is not just an act...,24935,NaN,625,185,128,50,49,26,30,34
4216,21937,8,LAUGHTER @CAPS1 i was younger my friend live...,24937,NaN,643,150,121,74,37,30,29,15
4217,21938,8,"You know how the saying goes live, laugh, lov...",24938,NaN,639,119,98,55,52,29,27,52

## freek done

1

In [105]:
def spell_check():
    ls=[]
    sp=[]
    c=0
    for i in data["essay"]:
        all_words=word_tokenize(i)
        all_words=[word.lower() for word in all_words if word.isalpha()]
        all_words=[i for i in all_words if i not in stop]
        all_words=[lemm.lemmatize(j.lower()) for j in all_words]
        for word in all_words:
            if((wordnet.synsets(word))):
                c+=1
        l=len(all_words)
        corr_perc=(c/l)
        sp.append(corr_perc)
        c=0
    return sp

In [106]:
sp=spell_check()

In [107]:
data["corr_spell"]=sp

## spell done

In [108]:
def beauty():

    lexicon=[]
    c=0
    for i in data["essay"]:
        all_words=word_tokenize(i)
        all_words=[i for i in all_words if i not in stop]
        all_words=[word.lower() for word in all_words if word.isalpha()]
        all_words=[lemm.lemmatize(j.lower()) for j in all_words]
        for i in all_words:
            if len(i)>7:
                c+=1
        lexicon.append(c)
        c=0
    return lexicon

In [109]:
b=beauty()

In [110]:
b[23]

51

In [111]:
data["beaut"]=b

In [112]:
data.head()

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid,word_count,vocab_count,n_count,v_count,adj_count,adv_count,sent_len,freek,corr_spell,beaut
0,1788,1,"Dear @ORGANIZATION1, @CAPS1 more and more peop...",1788,NaN,275,77,67,29,21,15,13,26,0.912281,26
1,1789,1,Dear @LOCATION1 Time @CAPS1 me tell you what I...,1789,NaN,353,95,75,35,15,21,20,33,0.984733,25
2,1790,1,"Dear Local newspaper, Have you been spending a...",1790,NaN,471,137,91,51,29,26,15,35,0.868293,38
3,1791,1,"Dear Readers, @CAPS1 you imagine how life woul...",1791,NaN,410,103,103,49,21,17,24,31,0.952663,38
4,1792,1,"Dear newspaper, I strongly believe that comput...",1792,NaN,496,132,122,39,38,22,34,47,0.951754,54

In [113]:
from collections import Counter
from sklearn.feature_extraction.text import CountVectorizer
import math
import re

In [114]:
class Perplexity:
        def __init__(self):
            self.num_words = None
            self.counts = None
            self.vectorizer = None

        def create_counts(self, compressed_essays):
            self.vectorizer = CountVectorizer().fit(compressed_essays)
            self.counts = self.vectorizer.transform(compressed_essays).toarray()[0]

            # length added for LaPlace smoothing
            self.num_words = float(sum(self.counts) + len(self.counts))

        def fill_perplexity_columns(self,essay_strings,df):
            print ("Creating ngram counts...")
            ls=[]
            self.create_counts([essay_strings])

            for essay in df:
                perp = self.perplexity(essay)
                ls.append(perp)
            return ls

        # After having already fit model on a set of training essays, calculates the
        # perplexity of a student's essay based from the model, and returns this
        # perplexity to be used as a feature
        def perplexity(self, test_essay):
            log_prob = 0.0
            word_list = test_essay.split()
            for word in word_list:
                if word in self.vectorizer.vocabulary_:
                    log_prob += math.log( (self.counts[self.vectorizer.vocabulary_[word]] + 1.0) / self.num_words)
                else:
                    log_prob += math.log (1.0 / self.num_words)

            return math.pow(2.0, -log_prob / len(word_list))

In [115]:
essays_string=""
perp=Perplexity()
result=[]
for i in range(1,9):
    df= ((data[data['essay_set'] == i]))["essay"]
    for j in df:
        essays_string += (" ".join(re.sub('[^a-zA-Z\d\s]', '', j).lower().split()))
    r=perp.fill_perplexity_columns(essays_string,df)
    result.append(r)

Creating ngram counts...
Creating ngram counts...
Creating ngram counts...
Creating ngram counts...
Creating ngram counts...
Creating ngram counts...
Creating ngram counts...
Creating ngram counts...

In [116]:
flat = [x for sublist in result for x in sublist]

In [117]:
data["peplexity"]=(flat)

In [118]:
data.head()

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid,word_count,vocab_count,n_count,v_count,adj_count,adv_count,sent_len,freek,corr_spell,beaut,peplexity
0,1788,1,"Dear @ORGANIZATION1, @CAPS1 more and more peop...",1788,NaN,275,77,67,29,21,15,13,26,0.912281,26,163.218737
1,1789,1,Dear @LOCATION1 Time @CAPS1 me tell you what I...,1789,NaN,353,95,75,35,15,21,20,33,0.984733,25,154.934685
2,1790,1,"Dear Local newspaper, Have you been spending a...",1790,NaN,471,137,91,51,29,26,15,35,0.868293,38,112.750824
3,1791,1,"Dear Readers, @CAPS1 you imagine how life woul...",1791,NaN,410,103,103,49,21,17,24,31,0.952663,38,156.539091
4,1792,1,"Dear newspaper, I strongly believe that comput...",1792,NaN,496,132,122,39,38,22,34,47,0.951754,54,141.841194

In [119]:
data.shape

(4218, 16)

In [121]:
data.to_pickle(r"C:\Users\PIYUSH\Desktop\validation_notscaled.pkl")

In [122]:
a=data.iloc[:,[5,6,7,8,9,10,11,12,13,14,15]]

In [123]:
a.columns

Index(['word_count', 'vocab_count', 'n_count', 'v_count', 'adj_count',
       'adv_count', 'sent_len', 'freek', 'corr_spell', 'beaut', 'peplexity'],
      dtype='object')

In [124]:
from sklearn.preprocessing import MinMaxScaler
sc=MinMaxScaler()
x=sc.fit_transform(a)

In [125]:
y=pd.DataFrame(x)

In [126]:
y.columns=['vocab_count',
       'word_count', 'n_count', 'v_count', 'adj_count', 'adv_count',
       'sent_len', 'freek','corr_spell','beaut','perplexity']

In [127]:
y["essay_set"]=data["essay_set"]
y["essay"]=data["essay"]
y["essay_id"]=data["essay_id"]
y['domain1_predictionid']=data['domain1_predictionid']
y['domain2_predictionid']=data['domain2_predictionid']

In [128]:
y.head()

,vocab_count,word_count,n_count,v_count,adj_count,adv_count,sent_len,freek,corr_spell,beaut,perplexity,essay_set,essay,essay_id,domain1_predictionid,domain2_predictionid
0,0.245504,0.220588,0.132,0.201389,0.201923,0.245902,0.137931,0.273684,0.843256,0.220339,0.007631,1,"Dear @ORGANIZATION1, @CAPS1 more and more peop...",1788,1788,NaN
1,0.315647,0.273529,0.148,0.243056,0.144231,0.344262,0.218391,0.347368,0.972719,0.211864,0.007028,1,Dear @LOCATION1 Time @CAPS1 me tell you what I...,1789,1789,NaN
2,0.421763,0.397059,0.180,0.354167,0.278846,0.426230,0.160920,0.368421,0.764654,0.322034,0.003957,1,"Dear Local newspaper, Have you been spending a...",1790,1790,NaN
3,0.366906,0.297059,0.204,0.340278,0.201923,0.278689,0.264368,0.326316,0.915414,0.322034,0.007144,1,"Dear Readers, @CAPS1 you imagine how life woul...",1791,1791,NaN
4,0.444245,0.382353,0.242,0.270833,0.365385,0.360656,0.379310,0.494737,0.913791,0.457627,0.006074,1,"Dear newspaper, I strongly believe that comput...",1792,1792,NaN

In [129]:
y.to_pickle(r"C:\Users\PIYUSH\Desktop\validation.pkl")

In [130]:
data2 = pd.read_pickle(r"C:\Users\PIYUSH\Desktop\validation.pkl")

In [131]:
data2.head()

,vocab_count,word_count,n_count,v_count,adj_count,adv_count,sent_len,freek,corr_spell,beaut,perplexity,essay_set,essay,essay_id,domain1_predictionid,domain2_predictionid
0,0.245504,0.220588,0.132,0.201389,0.201923,0.245902,0.137931,0.273684,0.843256,0.220339,0.007631,1,"Dear @ORGANIZATION1, @CAPS1 more and more peop...",1788,1788,NaN
1,0.315647,0.273529,0.148,0.243056,0.144231,0.344262,0.218391,0.347368,0.972719,0.211864,0.007028,1,Dear @LOCATION1 Time @CAPS1 me tell you what I...,1789,1789,NaN
2,0.421763,0.397059,0.180,0.354167,0.278846,0.426230,0.160920,0.368421,0.764654,0.322034,0.003957,1,"Dear Local newspaper, Have you been spending a...",1790,1790,NaN
3,0.366906,0.297059,0.204,0.340278,0.201923,0.278689,0.264368,0.326316,0.915414,0.322034,0.007144,1,"Dear Readers, @CAPS1 you imagine how life woul...",1791,1791,NaN
4,0.444245,0.382353,0.242,0.270833,0.365385,0.360656,0.379310,0.494737,0.913791,0.457627,0.006074,1,"Dear newspaper, I strongly believe that comput...",1792,1792,NaN